@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

* {
	scroll-behavior: smooth;
}

.header {
	background: url("/header.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	height: 90vh;
}
