@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

* {
	scroll-behavior: smooth;
}

.header {
	background: url("/header.png");
	background-size: cover;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: top;
	height: 90vh;
}

@media screen and (max-width: 700px) {
	.header {
		background: url("/header-mobile.png");
		background-size: 100% 100%;
		background-attachment: scroll;
		background-repeat: no-repeat;
		background-position: center;
		height: 300px;
	}
}

.map {
	width: 100%;
	height: 100%;
}

.leaflet-map-pane {
	z-index: 20 !important;
}
.leaflet-control {
	z-index: 40 !important;
}

.leaflet-bottom {
	z-index: -1 !important;
	display: none !important;
}
.leaflet-top {
	z-index: 40 !important;
}

.swiper-slide {
	margin-inline: 20px !important;
	margin-left: 0 !important;
}

@media screen and (max-width: 700px) {
	.swiper-slide {
		margin-inline: 0px !important;
		margin-left: 30px !important;
	}
}
.custom-scrollbar::-webkit-scrollbar {
	width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: #ccc;
	border-radius: 50%;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background-color: #999;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background-color: #f1f1f1;
	border-radius: 10px;
}
